@model IEnumerable<FptBookNew1.Models.book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start: Simple Slider -->
<div class="simple-slider">
    <!-- Start: Slideshow -->
    <div class="swiper-container">
        <!-- Start: Slide Wrapper -->
        <div class="swiper-wrapper">
            <!-- Start: Slide -->
            <div class="swiper-slide" style="background: url(&quot;https://mir-s3-cdn-cf.behance.net/project_modules/fs/1c287d109751077.5fde477979ae2.jpg&quot;) center center / cover no-repeat;"></div><!-- End: Slide -->
            <!-- Start: Slide -->
            <div class="swiper-slide" style="background: url(&quot;https://mir-s3-cdn-cf.behance.net/project_modules/fs/43f410114116337.603535847393e.jpg&quot;) center center / cover no-repeat;"></div><!-- End: Slide -->
            <!-- Start: Slide -->
            <div class="swiper-slide" style="background: url(&quot;https://mir-s3-cdn-cf.behance.net/project_modules/max_632/7e2c51105556819.5f7bf16c5fd94.jpg&quot;) center center / cover no-repeat; "></div><!-- End: Slide -->
        </div><!-- End: Slide Wrapper -->
        <!-- Start: Pagination -->
        <div class="swiper-pagination"></div><!-- End: Pagination -->
        <!-- Start: Previous -->
        <div class="swiper-button-prev"></div><!-- End: Previous -->
        <!-- Start: Next -->
        <div class="swiper-button-next"></div><!-- End: Next -->
    </div><!-- End: Slideshow -->
</div><!-- End: Simple Slider -->
<!-- Start: Shopping Grid --><div class="shopping-grid">
    <div class="container">
        <h3 class="" align="center">Newest Trends</h3>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid7">
                        <div class="product-image7">
                            <a href="#">
                                <img class="pic-1" src="~/assets/img/Mangas/@book.image">
                                @*<img class="pic-2" src="~/assets/img/History/71dS9-eHcdL.jpg">*@
                            </a>
                            <ul class="social">

                                <li><a href="@Url.Action("AddtoCart","ShoppingCart", new { id=book.bookID})" class="fa fa-shopping-cart"></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">@book.bookName</a></h3>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="price">
                               $@book.price
                                <span>$20.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div><!-- End: Shopping Grid -->
<!-- Start: Highlight Blue -->
<section class="highlight-blue">
    <div class="container">
        <!-- Start: Intro -->
        <div class="intro">
            <h2 class="text-center" style="font-weight: bold;">Sign up for our Newsletter<br></h2>
            <p class="text-start" style="font-size: 19px;">Tell us what books you love.<br></p>
        </div><!-- End: Intro -->
        <!-- Start: Buttons -->
        <div class="buttons"><a class="btn btn-primary pulse animated infinite" role="button" href="#" style="background-color: #02513e;color: rgb(255,255,255);border-color: rgb(255,255,255);">Sign up</a></div><!-- End: Buttons -->
    </div>
</section><!-- End: Highlight Blue -->
